<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>Expert Child Nutrition System</title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: antiquewhite;
        padding: 1rem;
      }
      h2 {
        font-weight: 800;
        font-size: 2rem;
      }
      h3 {
        font-weight: 600;
        font-size: 1.5rem;
      }
    </style>
  </head>
  {% block content %} {% endblock %}
  <body class="text-center"></body>
</html>
