<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>Expert Child Nutrition System</title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      body {
        background-color: antiquewhite;
        padding: 1rem;
      }
      h2 {
        font-weight: 800;
        font-size: 2rem;
      }
      h3 {
        font-weight: 600;
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body class="text-center">
    {% block content %} {% endblock %}
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script>
    $('#print-result-btn').click(function () {
      $('#back-btn').hide()
      $('#print-result-btn').hide()
      window.print()
      $('#back-btn').show()
      $('#print-result-btn').show()
      return false
    })
  </script>
</html>
