{% extends './base.html' %} {% load static %} {% block title %} Home
{%endblock%} {% block content %}
<section class="p-lg-5 p-md-3 p-sm-2">
  <div class="row  justify-content-center text-center">
    <div class="col-lg-5 col-sm-31  col-md-5 card m-3">
      <img
        class="card-img-top"
        src="{% static 'nutrition_schedule/child-diet-approach.jpg' %}"
        alt="Children Image"
      />
      <div class="card-body">
        <h5 class="card-title">Better sensory development</h5>
        <p class="card-text">
          Feed children with what they need in order to prevent malnutrition.
        </p>
      </div>
    </div>
    <div class="col-sm-31 col-lg-5 col-md-5 card m-3">
      <img
        class="card-img-top"
        src="{% static 'nutrition_schedule/Diet-Nutrition.jpg' %}"
        alt="Children Image"
      />
      <div class="card-body">
        <h5 class="card-title">Vitamins and Minerals</h5>
        <p class="card-text">
          Kids need balance diet to grow well.
        </p>
      </div>
    </div>
    <div class="col-sm-31 col-lg-5 col-md-5 card m-3">
      <img
        class="card-img-top"
        src="{% static 'nutrition_schedule/Nutrition-For-Kids.jpg' %}"
        alt="Children Image"
      />
      <div class="card-body">
        <h5 class="card-title">Energy for Growth</h5>
        <p class="card-text">
          Feed them well to keep the in good mood.
        </p>
      </div>
    </div>
    <div class="col-sm-31 col-lg-5 col-md-5 card m-3">
      <img
        class="card-img-top"
        src="{% static 'nutrition_schedule/Feeding.jpg' %}"
        alt="Children Image"
      />
      <div class="card-body">
        <h5 class="card-title">Feed Children</h5>
        <p class="card-text">
          Feed children with what they need in order to prevent malnutrition.
        </p>
      </div>
    </div>
    <div class="col-sm-31 col-lg-5 col-md-5 card m-3">
      <img
        class="card-img-top"
        src="{% static 'nutrition_schedule/image2.jpg' %}"
        alt="Children Image"
      />
      <div class="card-body">
        <h5 class="card-title">Balance Diet</h5>
        <p class="card-text">
          Kids need balance diet to grow well.
        </p>
      </div>
    </div>
    <div class="col-sm-31 col-lg-5 col-md-5 card m-3">
      <img
        class="card-img-top"
        src="{% static 'nutrition_schedule/child3.jpeg' %}"
        alt="Children Image"
      />
      <div class="card-body">
        <h5 class="card-title">Good Mood</h5>
        <p class="card-text">
          Feed them well to keep the in good mood.
        </p>
      </div>
    </div>
    <div class="col-sm-31 col-lg-5 col-md-5 card m-3">
      <img
        class="card-img-top"
        src="{% static 'nutrition_schedule/child2.jpeg' %}"
        alt="Children Image"
      />
      <div class="card-body">
        <h5 class="card-title">Good Health</h5>
        <p class="card-text">
          Good Diet helps prevent diseases.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
